
# excluding training datasets
/DataPrepare/SFT_data/**
!/DataPrepare/SFT_data/**/
!/DataPrepare/SFT_data/**/*.py
!/DataPrepare/SFT_data/**/*.md
!/DataPrepare/SFT_data/**/*.gitkeep
/DataPrepare/shared_data/TDC_train_fg_desc_with_attach_points_and_atom_ids.jsonl
/DataPrepare/shared_data/TDC_test_fg_desc_with_attach_points_and_atom_ids.jsonl

/DataPrepare/TDC_train_prompts_label/*
!/DataPrepare/TDC_train_prompts_label/*.py
!/DataPrepare/TDC_train_prompts_label/*.md
!/DataPrepare/TDC_train_prompts_label/*.json

/DataPrepare/TDC_test_prompts_label/*
!/DataPrepare/TDC_test_prompts_label/*.py
!/DataPrepare/TDC_test_prompts_label/*.md
!/DataPrepare/TDC_test_prompts_label/*.json

/wandb

# excluding TDC downloaded data
data/

# excluding running logs
/logs/*

# excluding Homework
/CIS_5300_HW

# excluding checkpoints
/checkpoints

# excluding PyCharm cache
__pycache__/

.DS_Store
.idea/