
# excluding training datasets
/DataPrepare/SFT_data/*
!/DataPrepare/SFT_data/*.py
!/DataPrepare/SFT_data/*.md

/DataPrepare/TDC_train_prompts_label/*
!/DataPrepare/TDC_train_prompts_label/*.py
!/DataPrepare/TDC_train_prompts_label/*.md

# excluding TDC downloaded data
data/

# excluding running logs
/logs/*

# excluding Homework
/CIS_5300_HW

# excluding checkpoints
/checkpoints

# excluding PyCharm cache
__pycache__/

.DS_Store
.idea/